# Server config
HOST=localhost
PORT=14201
API_V1_STR=/api/v1
PROJECT_NAME="Bridge Research AI"

# Database
DATABASE_URL="sqlite:///bridge_data.bridge"

# Logging Config
LOGGING_LEVEL=INFO
LOGGING_HANDLER=both # Use console/file/both
LOGGING_FILE_DIR=~/.bridge_research/logs