@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    @apply bg-slate-950 antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { @apply bg-slate-800 rounded-full; }

@keyframes infinite-scroll {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}
.animate-infinite-scroll {
  animation: infinite-scroll 1.5s linear infinite;
}